.bet-div {
    background-color: #6f2929;
    opacity: 0.9;
    margin-bottom: 5px;
    margin-right: 10px;
    align-content: flex-end;
    float: left;
}

.dailyBetDiv {
    margin-left: 20px;
}

.bet {
    background-color: #2F4F4F;
    opacity: 0.95;
    position: relative;
    float: left;
    left: 100px;
}

.bet-cell {
    align-content: center;
}
.grid {
    position: relative;
    top: 60px;
    color: white;
}

.main-display {
    position: relative;
    top: 100px;
}
.demo-grid-1 {
    text-align: center;
}

.daily-bets {
    position: relative;
    left: 30px;
}

.text-button {
    position: absolute;
    top: 300px;
}
h4 {
    color: white;
    text-align: center;
}

label {
    color: white;
}