.bet-div {
    background-color: #6f2929;
    opacity: 0.9;
}

.grid {
    position: relative;
    top: 60px;
    color: white;
}

.main-display {
    position: relative;
    top: 100px;
}



.demo-grid-1 {
    text-align: center;
}

.text-button {
    position: absolute;
    top: 300px;
}
h4 {
    color: white;
    text-align: center;
}

label {
    color: white;
}